@import "vars";

@mixin btn($bg, $color, $border, $bg-hover, $color-hover, $border-hover) {
  background: $bg;
  color: $color;
  font-size: 15px;
  line-height: 1.4;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color .4s ease;
  border: 1px solid $border;
  padding: 0 20px;

  &:hover {
    background: $bg-hover;
    color: $color-hover;
    border: $border-hover;
  }
}