$primary-color: #fff;
$second-color: rgba(187, 187, 187, 1);
$dark-color: #171717;

$bg-color:  rgba(31, 33, 37, 1);

$main: #0E5C6D;
$main-light: #007893;
$dark-main-1: rgba(14, 92, 109, 0.12);
$dark-main-2: #132C33;

$light-grey: #969696;

