$primary-color: #fff;

$main: #0E5C6D;
$main-dark: #132C33;
$main-dark-2: rgba(14, 92, 109, 0.12);
$main-hover: #007893;

$light-grey: #BBBBBB;
$light-grey-2: #969696;

$dark-color: #171717;
$dark-color-2: #25282D;

$stroke: #D8D8D8;
$stroke-dark: #5C6068;

$white: #F2F2F2;

$red: #CB7676;

$grafit-1: #1F2125;
$grafit-2: #35383E;
$grafit-3: #2B2E33;





