@import "../common/vars";

.gallery {
  padding-top: 100px;
  overflow-x: hidden;
}


.gallery-top {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h3 {
    font-size: 45px;
    line-height: 1.2;
    font-weight: 700;
    margin-left: 31px;
  }

  span {
    display: block;
    font-size: 185px;
    line-height: 1.4;
    font-weight: 700;
    letter-spacing: 0.12em;
    color: transparent;
    -webkit-text-stroke: 1px $main;
    margin-right: -159px;
  }
}

.swiper-gallery {
  .bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 5;
    pointer-events: none;

    img {
      width: 100%;
      height: 100%;
    }
  }
}

.swiper-gallery-wrapper {
  padding: 100px 0;
}

.swiper-gallery-slide {

  &:hover {
    cursor: pointer;
  }

  img {
    width: 100%;
    height: 100%;
    transform: scale(.52);
    transition: all .4s ease;
    margin-left: 45%;
  }
}

.swiper-gallery-slide.swiper-slide {
  &-prev, &-next {
    img {
      width: 100%;
      height: 100%;
      transform: scale(0.67);
    }
  }

  &-prev {
    img {
      margin-left: 13%;
    }
  }

  &-next {
    img {
      margin-left: -13%;
    }
  }

  &-next + .swiper-gallery-slide{
    img {
      margin-left: -45%;
    }
  }
}

.swiper-gallery-slide.swiper-slide-active {
  img {
    width: 100%;
    height: 100%;
    transform: scale(.9);
    margin: 0;
  }
}

@media screen and(max-width: 991px) {
  .gallery-top {
    span {
      display: none;
    }
  }
}