@import "../common/vars";

.head-page {
  height: 240px;
  position: relative;

  .bg {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: -1;
    }
    .bg-filter{
      z-index: 5;
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
  }
}

.head-page-title {
  font-size: 55px;
  line-height: 1.15;
  font-weight: 300;
  margin-bottom: 9px;
}
