.products {
  padding-bottom: 100px;
}
@media screen and (max-width: 1200px) {
  .cart-middle ul li .price {
    margin:0  30px;
  }
  .cart-top .cart-price {
    margin: 0 30px;
  }
  .cart-middle ul li .name {
    margin-left: 13px;
  }
  .cart-top .cart-price {
    margin-left: 0;
  }
  .cart-top .cart-full-price, .cart-top .cart-price, .cart-top .cart-quantity {
    width: calc(80% / 4 );
  }
}
@media screen and (max-width: 992px) {
  .cart {
    padding: 20px 0;
  }
  .product-details-btn div .quantity {
    text-align: center;
  }
  .about-company {
    padding: 40px 0 60px;
  }
}

@media screen and (max-width: 767px) {
  .cart-middle ul li .full-price, .cart-middle ul li .price {
    width: auto;
    min-width: 100px;
  }
  .gallery {
    padding-top: 60px;
  }
  .swiper-gallery-wrapper {
    padding: 30px 0;
  }
  .products {
    padding-bottom: 60px;
  }
  .error-page-content .shadow-circle {
    width: 50%;
    padding-top: 50%;
    left: 25%;
    top: auto;
    bottom: 10%;
    transform: translate(-50%, 0);
  }
}
.seo-block {
  h1, h2, h3, h4, h5, h6 {
    text-transform: initial;
  }
}
.product-swiper-slide-thumb {
  cursor: pointer;
  &:hover {
    border: 1px solid #fff;
  }
}

@media screen and (max-width: 650px) {
  .cart-top {
    display: none;
  }
  .cart-middle ul li {
    margin-bottom: 0 !important;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #fff;
    &:first-child {
      padding-top: 0;
    }
    &:last-child {
      border-bottom: none;
    }
    flex-wrap: wrap;
    .price {
      display: none;
    }
    .name {
      margin-left: 15px;
      margin-right: 0;
      flex-grow: 1;
      width: calc(100% - 79px);
    }
    .quantity {
      margin-top: 20px;
    }
    .full-price {
      width: calc(100% - 114px);
      text-align: right;
      margin-top: 20px;
    }
    .btn-remove {
      margin-top: 20px;
    }
  }
}
@media screen and (max-width: 575px) {

  .cart {
    padding: 0 0 30px;
  }
  .cart-middle ul {
    padding: 0;
    margin: 15px 0;
  }
  .cart-middle ul li .quantity {
    height: 40px;
  }
  .feedback {
    padding: 25px 0 50px;
  }
  .about-logo {
    margin-top: 0;
    margin-bottom: 30px;
  }
  .burger-menu-language ul li a {
    text-decoration: none;
  }
  .products-list .product-item .product-content .panel a img {
    width: 80%;
  }

  .about-company-title {
    margin-top: 10px;
    margin-bottom: 26px;
  }
  .about-company {
    padding: 30px 0 50px;
  }
  .about-us-bottom .text span {
    font-size: 14px;
    font-weight: 500;
  }
  .about-us {
    padding-bottom: 30px;
  }
  .gallery {
    padding-top: 30px;
    .swiper-pagination.swiper-pagination-custom {
      display: none;
    }
  }
  .hero-btn-mob a {
    width: 100%;
    max-width: 100%;
  }
  .gallery {
    .swiper-button-custom-prev {
      left: 8%;
    }
    .swiper-button-custom-next {
      right: 8%;
    }
    .swiper-button-custom-next, .swiper-button-custom-prev {
      width: 40px;
      height: 40px;
      &::after {
        top: 56%;
        height: 14px;
        font-size: 10px;
        transform: translate(0, -50%);
      }
    }
    .swiper-button-custom-prev:hover:after {
      left: -40%;
    }
    .swiper-button-custom-next:hover:after {
      right: -40%;
    }
    .swiper-button-custom-next:hover span, .swiper-button-custom-prev:hover span {
      padding: 22px;
      color: rgba(255, 255, 255, 0);
    }
  }
  .gallery-top {
    > h2 {
      br {
        display: none;
      }
    }
  }
  .header-burger-menu .burger-menu-btn-mob {
    margin-bottom: 25px;
  }
  .header-burger-menu .burger-menu-nav .nav-left {
    margin-bottom: 30px;
  }
  #popup-login .popup-content, #popup-login-forgot .popup-content {
    margin: 80px auto 10%;
  }
}
a:hover {
  text-decoration: none;
}
.swiper-hero-thumb-slide .slide-img img {
  transition: all 0.4s ease;
}
.swiper-hero-thumb-slide:hover .slide-img img  {
  transform: scale(1.1);
  transition: all 0.4s ease;
}
.swiper-hero-thumb-slide.swiper-slide-thumb-active .slide-img img {
  transform: scale(1.15);
  transition: all 0.4s ease;
}

.swiper-hero-thumb-slide .slide-img .img-caption {
  transition: all 0.4s ease;
}

.swiper-hero-thumb-slide.swiper-slide-thumb-active .slide-img .img-caption {
  font-size: 15px;
  transition: all 0.4s ease;
}
#popup-login, #popup-login-forgot {
  background: rgba(31, 33, 37, 0.92);
  .popup-content {
    margin-left: auto;
    margin-right: auto;
  }
}
.seo-section {
  width: 100%;
  padding: 0 0 100px;
  box-sizing: border-box;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.products-list .product-item>a img {
  max-height: none;
}
.header-burger-menu {
  //background: rgba(53,56,62,.94);
}
.product-details-btn div .quantity {
  text-align: center;
}
.burger-menu-nav .nav-left ul li a, .burger-menu-nav .nav-right a, .footer-middle>div a, .footer-right>div a, .footer-left>div>a {
  transition: color 0.3s ease;
  &:hover {
    color: #0e5c6d;
    transition: color 0.3s ease;

  }
}
.product-details-prices div {
  align-items: center;
  span:nth-of-type(1) {
    line-height: 1;
  }
}
.product-details-prices .opt:after {
  top: 50%;
  transform: translate(0, -50%);
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.header-nav .nav-category .content .container div a:not(:last-of-type) {
  margin-bottom: 10px;
}

.header-nav .nav-category .content .container div a {
  display: block;
  width: 100%;
}


@media screen and (min-width: 992px) {
  .header-nav .nav-category .content .container > div a {
    height: 34px;
  }
}

a.radio-btn.active, a.radio-btn:hover {
  color: #fff;
  border: 1px solid #0e5c6d;
  background: #0e5c6d;
}
a.radio-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex !important;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  color: #fff;
  border: 1px solid #fff;
  background: 0 0;
  height: 34px;
}
@media screen and (max-width: 1050px) {
  .header-nav .nav-category .content .container div {
    margin-top: 15px;
  }
  .seo-section {
    padding-bottom: 40px;
  }
  .seo-block {
    max-height: 200px;
  }
}
.seo-block {
  max-height: 400px;
  position: relative;
  overflow: hidden;

  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 190px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(31, 33, 37, 0.8) 10%,  rgba(31, 33, 37, 1) 60%);
    display: inline-block;
    content: '';
  }
}

.show-seo {
  text-decoration: underline;
  margin-top: 15px;
  color: #969696;
  cursor: pointer;
}
.btn-seco {
  display: none !important;
}
@media screen and (max-width: 525px) {
  .hero-gallery {
    display: none;
  }
  .about-us, .gallery, .about-company, .feedback, .hero-date {
    display: none;
  }
  .hero-title {
    font-size: 36px;
    line-height: 1.2;
    width: 100%;
    max-width: none;
    margin-top: 0;
    br {
      display: none;
    }
  }
  .hero-btn-mob {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    a {
      width: 100%;
      justify-content: flex-start;
      margin-bottom: 10px;
      span {
        margin: 0;
      }
      &:last-child {
        margin-bottom: 0;
      }
      img {
        width: 24px;
        height: auto;
        margin-right: 15px;
      }
    }
  }
  .btn-seco {
    width: 100%;
    height: 55px;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex !important;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 20px;
    background: #35383E;
    border: 1px solid #35383E;
    font-size: 15px;
    line-height: 1.4;
    -webkit-transition: background-color .4s ease;
    -o-transition: background-color .4s ease;
    transition: background-color .4s ease;
    &:hover {
      background: #fff;
      color: #35383E;
    }
  }

}
@media screen and (max-width: 450px) {

  .cart-bottom .btn-main {
    max-width: none;
    width: 100%;
    margin: 0;
  }
}
.seo-section.visible {
  .seo-block {
    max-height: none;
    &::after {
      content: none;
    }
  }
}
@media screen and (min-width: 651px) {
  .cart-middle ul li:not(:last-of-type), .info-right-content .accordion-content ul li:not(:last-of-type) {
    margin-bottom: 0;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #35383E;
  }
}