@import '../common/vars';
@import '../common/mixins';

.personal-info {
  padding: 50px 0 100px;

  .container {
    display: flex;
    flex-wrap: wrap;

    > .log-out {
      display: none;
    }
  }
}

.personal-info-left {
  width: 25.57%;

  a {
    width: 192px;
    height: 55px;
    display: flex;
    align-items: center;
    font-size: 15px;
    text-decoration: none;
  }

  .current {
    background: $grafit-2;
  }

  .log-out {
    color: $red;
    margin-top: 40px;

    img {
      margin-right: 18px;
    }
  }

  a:not(.log-out) {
    padding: 0 15px;
    color: #fff;
  }

  a:not(.log-out, .current) {
    border-bottom: 1px solid $grafit-2;
  }
}

.personal-info-right {
  width: 74.43%;

  .title {
    margin-bottom: 40px;
  }

  .product-status-canceled {
    color: $red !important;
  }
}

.personal-info-form {
  padding-right: 25.65%;

  .form- {
    &top {
      display: flex;
      flex-wrap: wrap;
      gap: 20px 30px;
      margin-bottom: 45px;

      label {
        width: calc(100% / 2 - 15px);
        display: block;

        input {
          width: 100%;
        }
      }
    }

    &middle {
      margin-bottom: 45px;

      .title {
        display: block;
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 30px;
      }

      label {
        display: block;
        width: 100%;

        &:not(:last-of-type) {
          margin-bottom: 20px;
        }

        input {
          width: 100%;
        }
      }
    }

    &bottom {
      input {
        width: 100%;
        height: 55px;
      }
    }
  }
}

.info-right- {
  &head {
    display: flex;
    padding: 24px 0;
    border-top: 1px solid $grafit-2;
    border-bottom: 1px solid $grafit-2;
    font-size: 15px;

    span {
      display: block;
      color: $light-grey-2;
      font-weight: 700;
      font-size: 13px;
      width: 25%;
      text-align: center;
    }
  }

  &content {
    font-size: 15px;

    .accordion-head {
      display: flex;
      align-items: center;
      padding: 24px 0;
      transition: all .4s ease;

      &.active {
        background: $grafit-2;
      }

      span {
        width: calc((100% - 20px) / 4);
        text-align: center;
      }

      &:hover {
        background: $grafit-2;
      }
    }

    .accordion-content {
      border-bottom: 1px solid $grafit-2;

      > div {
        margin: 30px 0 20px;
        display: flex;
        color: $light-grey;

        .product-name {
          width: 57.5%;
        }

        .product- {
          &quantity, &price {
            width: 21.25%;
            text-align: center;
          }
        }
      }

      ul {
        list-style: none;
        margin-bottom: 30px;

        li {
          display: flex;
          align-items: center;

          &:not(:last-of-type) {
            margin-bottom: 20px;
          }

          img {
            width: 64px;
            height: 64px;
            object-fit: cover;
          }

          p {
            color: $light-grey-2;
            padding-left: 30px;
            width: calc(100% - (21.25% * 2) - 64px);
          }

          span {
            width: 21.25%;
            text-align: center;
            font-size: 18px;
            font-weight: 700;
          }
        }
      }
    }
  }
}

.info-right-mob {
  display: none;
  width: 100%;
}

@media screen and (max-width: 991px) {
  .personal-info {
    padding: 0 0 65px;

    .container {
      > .log-out {
        display: flex;
        align-items: center;
        color: $red;

        img {
          margin-right: 15px;
        }
      }
    }
  }
  .personal-info-left {
    width: 100%;
    display: flex;
    margin-bottom: 24px;

    a {
      width: 50%;
      display: flex;
      justify-content: center;
    }

    .log-out {
      display: none;
    }
  }

  .personal-info-right {
    width: 100%;
  }
  .personal-info-form {
    padding-right: 0;
    margin-bottom: 46px;
  }

  .personal-info-right {
    width: 100%;

    .info-right- {
      &content {
        width: 100%;

        .accordion-head {
          padding: 24px 20px;

          .product-title, .product-number {
            width: auto;
          }

          .product-title {
            color: $light-grey-2;
            margin-right: 20px;
          }

          &:after {
            margin-left: auto;
          }
        }

        .accordion-content {
          ul {
            margin: 20px 0;
          }

          .product-des {
            display: flex;
            flex-direction: column;
            padding: 20px;
            background: $grafit-3;
            margin: 0;

            div {
              &:not(:last-of-type) {
                margin: 0 0 5px !important;
              }
            }

            .product- {
              &date, &status, &price {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;

                span {
                  &:first-of-type {
                    color: $light-grey-2;
                    font-size: 13px;
                    font-weight: 700;
                  }

                  &:last-of-type {
                    font-size: 15px;
                    color: #fff;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .info-right-desk {
    display: none;
  }

  .info-right-mob {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 575px) {
  .personal-info {
    .container {
      padding: 0;

      > .log-out {
        padding: 0 20px;
      }
    }
  }

  .personal-info-form {
    padding: 0 20px;
    margin-bottom: 46px;

    .form-top, .form-middle {
      label {
        width: 100%;
        margin: 0;
      }
    }
  }

  .personal-info-right {
    .info-right- {
      &content {

        .accordion-head {
          padding: 16px 20px;
        }

        .accordion-content {
          ul {
            margin: 20px;

            li {
              height: 96px;

              img {
                width: 96px;
                height: 96px;
              }

              div {
                width: calc(100% - 96px);
                height: 100%;
                padding-left: 20px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                p, span {
                  width: 100%;
                }

                p {
                  padding: 0;
                  font-size: 10px;
                  margin: 0;
                }

                span {
                  display: block;
                  &:first-of-type {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 76px;
                    border: 1px solid #fff;
                    font-size: 10px;
                    font-weight: 400;
                    height: 26px;
                  }

                  &:last-of-type {
                    text-align: left;
                    font-size: 12px;
                    font-weight: 400;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}