@import "../common/vars";

.product-details {
  display: flex;
  height: calc(100vh - 77px);
  min-height: 825px;
  background: $grafit-2;
}

.product-details-left {
  width: 48.82%;
  height: 100%;
  position: relative;
}

.product-details-guarantee {
  position: absolute;
  top: 30px;
  left: 30px;
  font-size: 13px;
  padding: 11px 16px;
  background: rgba(43, 46, 51, 0.35);
  z-index: 10;
}

.product-swiper {
  width: 100%;
  height: 100%;
}

.product-swiper-wrapper {
  width: 100%;
  height: 100%;
}

.product-swiper-slide {
  width: 100%;
  height: auto;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.product-swiper-thumb {
  position: absolute;
  z-index: 5;
  bottom: 4.8%;
  right: 4.8%;
  width: 9.6%;
}

.product-swiper-wrapper-thumb {
  width: 100%;

}

.product-swiper-slide-thumb {
  width: 100%;
  height: 100%;
  font-size: 0;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.product-swiper-slide-thumb.swiper-slide-thumb-active {
  border: 1px solid #fff;
}

.product-details-right {
  position: relative;
  width: 51.18%;
  padding: 60px 66px 100px 80px;
  height: 100%;
  overflow-y: auto;
}

.product-details- {
  &title {
    margin-bottom: 10px;
    font-size: 35px;
  }

  &sub {
    font-size: 15px;
    color: $light-grey-2;
    margin-bottom: 20px;
  }

  &presence {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    span {

    }

    div {
      padding: 5px 10px;
      background: $grafit-3;
      margin-left: 20px;
    }
  }

  &prices {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 44px;

    div {
      display: flex;

      span {
        display: block;

        &:nth-of-type(1) {
          font-size: 12px;
          line-height: 1.8;
          color: $light-grey-2;
          text-transform: uppercase;
        }

        &:nth-of-type(2) {
          font-size: 18px;
          font-weight: 300;
          margin-left: 20px;
        }
      }
    }

    .opt {
      padding: 0 40px 0 0;
      position: relative;

      &:after {
        content: '';
        position: absolute;
        right: 20px;
        top: 0;
        display: block;
        width: 1px;
        height: 36px;
        background: $light-grey;

      }
    }

    .rrc {
      margin-right: auto;
    }

    .guarantee {
      padding: 11px 16px;
      background: $grafit-3;
    }

    .guarantee-mob {
      display: none;
    }
  }

  &btn {
    display: flex;
    justify-content: space-between;
    height: 55px;
    margin-bottom: 50px;

    div {
      border: 1px solid #fff;
      width: 117px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .minus, .plus {
        width: 42px;
        height: 100%;
        transition: all .3s ease;

        &:hover {
          cursor: pointer;
          background: rgba(255, 255, 255, 0.15);;
        }
      }

      .minus, .plus, .quantity {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .quantity {
        width: 32px;
      }
    }

    a {
      width: 77.2%;
    }
  }

  &info, &characteristics, &delivery, &payment {
    .title {
      margin-bottom: 20px;
      padding-bottom: 20px;
      border-bottom: 1px solid $stroke-dark;
      display: flex;
      justify-content: space-between;

      span {
        font-size: 15px;

      }
    }

    .title.active + .content {
      margin-bottom: 50px;
    }
  }

  &characteristics {
    .content {
      ul {
        list-style: none;

        li {
          display: flex;

          &:not(:last-of-type) {
            margin-bottom: 10px;
          }

          .left {
            color: $light-grey;
          }

          .middle {
            flex: auto;
            margin: 0 10px 5px;
            border-bottom: 1px dotted $stroke-dark;
          }
        }
      }
    }
  }

  &delivery, &payment {
    .content {
      ul {
        list-style: none;

        li {
          display: flex;
          align-items: center;

          &:before {
            content: '';
            width: 25px;
            height: 1px;
            display: block;
            background: $stroke-dark;
            margin: auto 25px auto 0;
          }

          &:not(:last-of-type) {
            margin-bottom: 15px;
          }
        }
      }
    }
  }

  &consultation {
    display: flex;
    align-items: center;
    padding: 20px;
    background: $grafit-3;
    margin: 50px 0 0;

    p {
      font-size: 15px;
      margin: 0 0 0 25px;
    }

    a {
      margin-left: auto;
      font-size: 15px;
      width: 203px;
      height: 55px;
    }
  }
}

@media screen and(max-width: 1439px) {
  .product-details {
    min-height: 625px;
  }
}

@media screen and(max-width: 1239px) {
  .product-details {
    max-height: 625px;
  }
}

@media screen and(max-width: 991px) {
  .product-details-guarantee {
    top: 30px;
    left: 30px;
  }
  .product-details {
    height: 100%;
    max-height: none;
    display: flex;
    flex-direction: column;
  }
  .product-details-left {
    width: 100%;
    padding: 20px 20px 10px;
  }
  .product-details-right {
    width: 100%;
    padding: 0 20px 30px;
    overflow-y: unset;
  }

  .product-details- {
    &title {
      margin-bottom: 10px;
      font-size: 35px;
    }

    &sub {
      font-size: 15px;
      color: $light-grey-2;
      margin-bottom: 20px;
    }

    &presence {
      display: flex;
      align-items: center;
      margin-bottom: 20px;

      span {

      }

      div {
        padding: 5px 10px;
        background: $grafit-3;
        margin-left: 20px;
      }
    }

    &prices {
      margin-bottom: 20px;

      div {
        span {
          &:nth-of-type(2) {
            margin-left: 10px;
          }
        }
      }

      .opt {
        padding-right: 30px;
        margin-right: 0;

        &:after {
          display: none;
        }
      }

      .rrc {
        margin-right: auto;
      }

      .guarantee {
        padding: 11px 16px;
        background: $grafit-3;
      }
    }

    &btn {
      display: flex;
      justify-content: space-between;
      height: 55px;
      margin-bottom: 50px;

      div {
        border: 1px solid #fff;
        width: 86px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .minus, .plus {
          width: 27px;
          height: 100%;
          transition: all .3s ease;

          &:hover {
            cursor: pointer;
            background: rgba(255, 255, 255, 0.15);;
          }
        }

        .minus, .plus, .quantity {
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .quantity {
          width: 32px;
        }
      }

      a {
        width: 77.2%;
      }
    }

    &info, &characteristics, &delivery, &payment {
      .title {
        margin-bottom: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid $stroke-dark;
        display: flex;
        justify-content: space-between;

        span {
          font-size: 15px;

        }
      }

      .title.active + .content {
        margin-bottom: 50px;
      }
    }

    &characteristics {
      .content {
        ul {
          list-style: none;

          li {
            display: flex;

            &:not(:last-of-type) {
              margin-bottom: 10px;
            }

            .left {
              color: $light-grey;
            }

            .middle {
              flex: auto;
              margin: 0 10px 5px;
              border-bottom: 1px dotted $stroke-dark;
            }
          }
        }
      }
    }

    &delivery, &payment {
      .content {
        ul {
          list-style: none;

          li {
            display: flex;
            align-items: center;

            &:before {
              content: '';
              width: 25px;
              height: 1px;
              display: block;
              background: $stroke-dark;
              margin: auto 25px auto 0;
            }

            &:not(:last-of-type) {
              margin-bottom: 15px;
            }
          }
        }
      }
    }

    &consultation {
      display: flex;
      align-items: center;
      padding: 20px;
      background: $grafit-3;
      margin: 50px 0 0;

      p {
        font-size: 15px;
        margin: 0 0 0 25px;
      }

      a {
        margin-left: auto;
        font-size: 15px;
        width: 203px;
        height: 55px;
      }
    }
  }

  .product-swiper-thumb {
    position: absolute;
    z-index: 5;
    bottom: calc(4.8% + 10px);
    right: calc(4.8% + 20px);
    width: 13.73%;
  }
}

@media screen and(max-width: 575px) {
  .product-details- {
    &prices {
      .rrc {

      }
      .guarantee {
        width: 100%;
      }
    }

    &btn {
      gap: 0 10px;

      a {
        width: 100%;

        span {
          display: block;
        }

        img {
          display: none;
        }
      }
    }

    &consultation {
      flex-wrap: wrap;

      a {
        margin-top: 25px;
        width: 100%;
      }
    }
  }
}





