@import "../common/vars";

.products {
  #column-left {
    .ocf-header {
      display: none;
    }

    .ocf-filter {
      border-radius: 0 !important;
      background: transparent !important;
      border: 1px solid $grafit-2 !important;
      padding: 30px 20px !important;
      margin-bottom: 40px !important;

      .ocf-filter-body {
        .ocf-filter-header {
          margin-bottom: 25px !important;

          .ocf-filter-name {
            color: #fff !important;
            font-size: 18px !important;
            font-weight: 300 !important;
          }
        }

        .ocf-value-list {
          .ocf-value-list-body {
            button {
              align-items: center;
              margin-bottom: 17px !important;

              .ocf-value-input {
                width: 17px !important;
                height: 17px !important;
                flex: 0 0 17px !important;
                border-radius: 4px !important;
                margin-right: 17px !important;

                &:before {
                  background: transparent !important;
                  border: 1px solid $stroke !important;
                }

                &:after {

                }
              }

              .ocf-value-name {
                margin-right: 5px !important;
                font-size: 14px !important;
                color: #fff !important;
              }

              .ocf-value-append {
                margin-left: 0 !important;
                min-width: 0 !important;
                background: transparent !important;

                .ocf-value-count {
                  font-size: 14px !important;
                  color: #fff !important;
                  padding: 0 !important;
                }
              }
            }

            button.ocf-selected {
              .ocf-value-input {
                &:before {
                  background: $main !important;
                  border: 2px solid $main !important;
                }

                &:after {
                  content: url("../img/svg/check.svg") !important;
                  display: flex !important;
                  align-items: center !important;
                  justify-content: center !important;
                  background-image: none !important;
                  filter: none !important;
                }
              }
            }
          }

          .ocf-slider-input-group {
            .ocf-input-group-addon {
              background: $main !important;
              color: #fff !important;
            }

            .ocf-form-control {
              border-color: $main !important;
              padding: 0 12px !important;
            }
          }
        }

        .ocf-value-slider {
          .ocf-noUi-horizontal {
            .ocf-noUi-base {
              .ocf-noUi-connects {
                &:after, &:before {
                  display: none !important;
                }

                .ocf-noUi-connect {
                  &:before {
                    background: $main !important;
                  }
                }
              }

              .ocf-noUi-origin {
                .ocf-noUi-handle {
                  width: 22px !important;
                  height: 22px !important;
                  border-radius: 0 !important;
                  border: 2px solid $main !important;
                  box-shadow: none !important;
                  background: $grafit-1;
                }
              }
            }
          }
        }
      }
    }

    .ocf-dropdown {
      padding: 20px !important;

      .ocf-filter-body {
        .ocf-filter-header {
          margin-bottom: 0 !important;
        }

        .ocf-value-list {
          background: $grafit-2 !important;
          margin: -20px -17px 0 !important;

          .ocf-scroll-y {
            background-image: none !important;
          }

          button {
            span {
              color: $main-hover !important;
            }
          }
        }
      }
    }

    .ocf-dropdown.ocf-open {
      border: transparent !important;
    }

    .ocf-footer {
      background: $grafit-1 !important;
      box-shadow: none !important;

      .ocf-between {
        flex-wrap: wrap !important;

        button {
          width: 100% !important;
          height: 35px !important;
          display: flex !important;
          align-items: center !important;
          justify-content: center !important;
          font-size: 14px !important;

          &.ocf-btn-link {
            border: 1px solid $red !important;
            color: $red !important;
            background: transparent !important;
            order: 2 !important;
          }

          &.ocf-btn-block {
            border: 1px solid $main !important;
            color: #fff !important;
            background: $main !important;
            border-radius: 0 !important;
            margin-bottom: 20px !important;
            order: 1 !important;
          }
        }
      }
    }
  }
}

.products-content {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  padding: 80px 15px 0;
}

.products- {
  &list {
    display: flex;
    flex-wrap: wrap;
    gap: 50px 30px;

    .product-item {
      width: calc((100% / 5) - (120px / 5));
      box-shadow: none;
      transition: box-shadow 0.3s ease;
      &:hover {
        box-shadow: 0 0 9px 3px rgba(232, 232, 232, 0.4);
      }
      > a {
        display: block;
        text-decoration: none;
        width: 100%;
        height: 0;
        padding-top: 100%;
        position: relative;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          object-fit: cover;
          max-height: 205px;
        }
      }

      img {
        width: 100%;
        height: auto;
        object-fit: cover;
      }

      .product-content {
        border: 1px solid $grafit-2;
        border-top: none;

        p {
          padding: 15px 15px 8px;
          color: $light-grey-2;
          margin-bottom: 0;
        }

        .label {
          padding: 0 15px 18px;
          display: block;
          text-align: left;

          .new-price {
            font-size: 16px;
            font-weight: 400;
          }

          .last-price {
            font-size: 15px;
            font-weight: 400;
            text-decoration: line-through;
            margin-right: 10px;
          }
        }

        .panel {
          margin-bottom: 0 !important;
          border: none !important;
          border-radius: 0 !important;
          box-shadow: none !important;
          padding: 0 15px;
          background: $grafit-2;
          height: 64px;
          display: flex;
          align-items: center;
          justify-content: space-between;

          div {
            border: 1px solid #fff;
            height: 34px;
            width: 76px;
            display: flex;
            align-items: center;

            .plus, .minus {
              width: 27px;
              height: 100%;
              display: flex;
              align-items: center;
              justify-content: center;
              transition: all .3s ease;

              &:hover {
                cursor: pointer;
                background: rgba(255, 255, 255, 0.15);
              }
            }

            .quantity {
              width: 22px;
              padding: 0;
              border: none !important;
              text-align: center;
            }
          }

          a {
            height: 34px;
            transition: all .3s ease;
            font-size: 13px;
            padding: 0 12px;

            img {
              display: none;
            }
          }

          a.added {
            background: $main-hover;
          }
        }
      }
    }
  }
}

.products-description {
  padding: 50px 30px 100px;

  h2 {
    margin-bottom: 50px;
  }

  ul {
    display: flex;
    list-style: none;

    li {
      width: calc(100% / 3);
      color: $light-grey-2;
      font-size: 15px;
      font-weight: 400;

      &:nth-of-type(2) {
        margin: 0 30px;
      }
    }
  }
}

@media screen and(max-width: 1599px) {
  .products- {
    &list {
      .product-item {
        width: calc((100% / 4) - (90px / 4));

        img {
        }

        .product-content {
          p {
          }

          span {
          }
        }
      }
    }
  }
}

@media screen and(max-width: 1399px) {
  .products- {
    &list {
      .product-item {
        width: calc((100% / 3) - (60px / 3));
      }
    }
  }
}

@media screen and(max-width: 1199px) {
  #column-left {
    .ocf-filter {
      .ocf-filter-body {
        .ocf-value-list {
          .ocf-slider-input-group {
            .ocf-input-group-addon {
              font-size: 12px !important;
              padding: 0 6px !important;
            }

            .ocf-form-control {
              font-size: 12px !important;
              padding: 0 6px !important;
              height: 25px !important;
            }
          }
        }

        .ocf-value-slider {
          .ocf-noUi-horizontal {
            .ocf-noUi-base {
              .ocf-noUi-origin {
                .ocf-noUi-handle {
                  width: 20px !important;
                  height: 20px !important;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and(max-width: 991px) {
  #column-left {
    .ocf-filter {
      .ocf-filter-body {
        .ocf-value-list {
          .ocf-slider-input-group {
            display: flex !important;
            flex-wrap: wrap !important;

            .ocf-input-group-addon {
              flex: 0 0 30px !important;
              display: flex !important;
              align-items: center !important;
              justify-content: center !important;
              margin-bottom: 10px !important;
              font-size: 14px !important;
              border-radius: 4px 0 0 4px !important;
            }

            .ocf-form-control {
              flex: 0 0 calc(100% - 30px) !important;
              margin-bottom: 10px !important;
              font-size: 14px !important;
              height: 30px !important;
            }
          }
        }
      }
    }
  }
  .products- {
    &list {
      .product-item {
        width: calc((100% / 2) - (30px / 2));

        img {
        }

        .product-content {
          p {
          }

          span {
          }
        }
      }
    }
  }
}

@media screen and(max-width: 767px) {
  #ocdepartment-mobile {
    display: none !important;
  }

  .products {
    #column-left {
      .ocf-container {
        .ocf-btn-mobile-fixed {
          display: none !important;
        }
      }

      .ocf-content {
        background: $grafit-1 !important;
      }

      .ocf-header {
        display: flex !important;
        padding: 0 20px !important;
        height: 60px !important;
      }

      .ocf-filter {
        padding: 0 !important;
        margin: 0 20px 1px !important;

        .ocf-filter-body {
          .ocf-filter-header {
            margin-bottom: 0 !important;
            background: $stroke-dark !important;
            padding: 0 20px !important;
            height: 44px !important;

            .ocf-filter-name {
              color: #fff !important;
            }

            .ocf-filter-header-append {
              .ocf-icon {
                filter: brightness(3);
              }

              &:after {

              }
            }
          }

          .ocf-value-list {
            background: $grafit-1 !important;


            .ocf-value-list-body {
              button {
                align-items: center;
                margin-bottom: 17px !important;

                .ocf-value-input {
                  width: 17px !important;
                  height: 17px !important;
                  flex: 0 0 17px !important;
                  border-radius: 4px !important;
                  margin-right: 17px !important;

                  &:before {
                    background: transparent !important;
                    border: 1px solid $stroke !important;
                  }

                  &:after {

                  }
                }

                .ocf-value-name {
                  margin-right: 5px !important;
                  font-size: 14px !important;
                  color: #fff !important;
                }

                .ocf-value-append {
                  margin-left: 0 !important;
                  min-width: 0 !important;
                  background: none !important;

                  .ocf-value-count {
                    font-size: 14px !important;
                    color: #fff !important;
                    padding: 0 !important;
                    background: transparent;
                  }
                }
              }

              button.ocf-selected {
                .ocf-value-input {
                  &:before {
                    background: $main !important;
                    border: 2px solid $main !important;
                  }

                  &:after {
                    content: url("../img/svg/check.svg") !important;
                    display: flex !important;
                    align-items: center !important;
                    justify-content: center !important;
                    background-image: none !important;
                    filter: none !important;
                  }
                }
              }
            }

            .ocf-slider-input-group {
              .ocf-input-group-addon {
                background: $main !important;
                color: #fff !important;
              }

              .ocf-form-control {
                border-color: $main !important;
                padding: 0 12px !important;
              }
            }
          }

          .ocf-value-slider {
            .ocf-noUi-horizontal {
              .ocf-noUi-base {
                .ocf-noUi-connects {
                  &:after, &:before {
                    display: none !important;
                  }

                  .ocf-noUi-connect {
                    &:before {
                      background: $main !important;
                    }
                  }
                }

                .ocf-noUi-origin {
                  .ocf-noUi-handle {
                    width: 22px !important;
                    height: 22px !important;
                    border-radius: 0 !important;
                    border: 2px solid $main !important;
                    box-shadow: none !important;
                    background: $grafit-1;
                  }
                }
              }
            }
          }
        }
      }

      .ocf-filter.ocf-open {
        .ocf-filter-body {
          .ocf-filter-header {
            height: 60px !important;
          }
        }
      }

      .ocf-dropdown {
        .ocf-filter-body {
          .ocf-filter-header {
            margin-bottom: 0 !important;
          }

          .ocf-value-list {
            margin: 0 !important;

            .ocf-scroll-y {
              background-image: none !important;
            }

            button {
              span {
                color: $main-hover !important;
              }
            }
          }
        }
      }

      .ocf-dropdown.ocf-open {
        border: transparent !important;
      }

      .ocf-footer {
        background: $grafit-1 !important;
        box-shadow: none !important;
        padding: 10px 20px 510px 20px !important;

        .ocf-between {
          flex-wrap: wrap !important;

          button {
            width: 100% !important;
            height: 35px !important;
            display: flex !important;
            align-items: center !important;
            justify-content: center !important;
            font-size: 14px !important;

            &.ocf-btn-link {
              border: 1px solid $red !important;
              color: $red !important;
              background: transparent !important;
              order: 2 !important;
            }

            &.ocf-btn-block {
              border: 1px solid $main !important;
              color: #fff !important;
              background: $main !important;
              border-radius: 0 !important;
              margin-bottom: 20px !important;
              order: 1 !important;
            }
          }
        }
      }
    }
  }

  .products-content {
    padding: 20px 20px 0 !important;

    .ocf-btn-mobile-static {
      width: 100% !important;
      border-bottom: none;

      button {
        width: 100% !important;
        height: 34px !important;
        background: $grafit-1 !important;
        border: 1px solid $stroke !important;
        border-radius: 0 !important;
        padding: 0 20px !important;

        span {
          display: flex !important;
          align-items: center !important;
          justify-content: space-between;

          &:before {
            content: url("../img/svg/filter-icon.svg") !important;
            width: 24px;
            height: 24px;
          }

          &:after {
            content: '';
            width: 24px;
          }
        }

        i {
          display: none !important;
        }
      }
    }
  }

  .products-list {
    padding: 0;

    .product-item {
      .product-content {
        .label {
          .last-price {
            font-size: 10px;
          }
          .new-price {
            font-size: 12px;
            font-weight: 300;
          }
        }
        .panel {
          height: 42px;
          padding: 0;

          div {
            height: 100%;

            .plus, .minus {
              width: 27px;
            }

            .quantity {
              font-size: 10px;
            }
          }

          a {
            width: 52px;
            height: 100%;

            span {
              display: none;
            }

            img {
              display: block;
            }
          }

          a.added {
            background: $main-hover;
          }
        }
      }
    }
  }

  .products-description {
    padding: 50px 20px;

    ul {
      flex-wrap: wrap;

      li {
        width: 100%;

        &:not(:last-of-type) {
          margin-bottom: 30px;
        }

        &:nth-of-type(2) {
          margin: 0;
        }
      }
    }
  }
}

@media screen and(max-width: 575px) {
  .products- {
    &list {
      gap: 30px 20px;

      .product-item {
        width: calc((100% / 2) - (20px / 2));

        .product-content {
          p {
            padding: 10px 10px 5px;
            font-size: 10px;
          }

          .label {
            padding: 0 10px 10px;
            display: flex;
            flex-wrap: wrap;
            .last-price {
              margin-bottom: 7px;
            }
          }
        }
      }
    }
  }
}