.recommendations {
  padding: 100px 0;

  h2{
    margin-bottom: 50px;
  }
}

.recommendations-swiper-slide {
  border: 1px solid $grafit-2;

  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .product-content {
    p {
      padding: 15px 15px 8px;
      color: $light-grey-2;
      margin-bottom: 0;
    }

    span {
      display: block;
      padding: 0 15px 18px;
      font-size: 16px;
    }
  }
}

@media screen and(max-width: 991px) {
  .recommendations {
    padding: 50px 0;
  }

}
