.breadcrumb {
  margin-bottom: 27px;
  ol {
    list-style: none;
    display: flex;
    li {
      a {
        color: #fff;
        text-decoration: none;

        &:after {
          content: '/';
          margin: 0 9px;
        }

        span {
          font-size: 15px;
        }
      }

      > span {
        font-size: 15px;
        color: $light-grey;
      }
    }
  }
}