.breadcrumb {
  margin-bottom: 27px !important;
  padding: 0 !important;
  list-style: none;
  background-color: transparent !important;
  border-radius: 0 !important;

  ol {
    list-style: none;
    display: flex;
    flex-wrap: wrap;

    li {
      margin-bottom: 3px;
      a {
        color: #fff;
        text-decoration: none;

        &:after {
          content: '/';
          margin: 0 9px;
        }

        span {
          font-size: 15px;
        }
      }

      > span {
        font-size: 15px;
        color: $light-grey;
      }
    }
  }
}