@import "../common/vars";

.dropdown- {
  &menu {
    position: relative;
    display: flex;
    background: transparent;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    margin: 0;
    box-shadow: none;
    border: none;
    height: 100%;
    min-width: 0;
    z-index: auto;
  }

  &head {
    display: flex;
    align-items: center;
    height: 100%;

    span {
      font-size: 22px;
      line-height: 1.15;
      font-weight: 300;
      height: 100%;
      display: flex;
      align-items: center;
    }

    &:after {
      content: url("../img/svg/dropdown-arrow.svg");
      margin-left: 5px;
      transition: all .3s ease;
    }

    &:hover {
      cursor: pointer;
    }

    &.active {
      &:after {
        transform: rotate(180deg);
      }
    }
  }

  &content {
    border: 1px solid $stroke-dark;
    width: 202px;
    top: 77px;
    position: absolute;
    background: $grafit-2;
    opacity: 0;
    z-index: 10;
    transition: all .4s ease;
    pointer-events: none;

    &.active {
      opacity: 1;
      pointer-events: auto;
    }

    ul {
      list-style: none;
      margin-bottom: 0;

      li {
        height: 47px;
        padding: 0 20px;
        background: $grafit-1;
        display: flex;
        align-items: center;

        a {
          color: #fff;
          text-transform: uppercase;
          text-decoration: none;

          img {
            margin-right: 12px;
          }
        }

        &.current {
          background: $grafit-2;
        }
      }
    }
  }
}

@media screen and (min-width: 992px) {
  .dropdown- {
    &menu-hover {
      position: relative;
      display: flex;
      background: transparent;
      top: auto;
      right: auto;
      bottom: auto;
      left: auto;
      margin: 0;
      box-shadow: none;
      border: none;
      height: 100%;
      min-width: 0;
      z-index: auto;
    }

    &head-hover {
      &:hover {
        cursor: pointer;
      }
    }

    &content-hover {
      position: absolute;
      background: $grafit-2;
      opacity: 0;
      z-index: 10;
      transition: all .4s ease;
      pointer-events: none;

      &.active {
        opacity: 1;
        pointer-events: auto;
      }
    }
  }
}

