@import '../common/vars';
@import '../common/mixins';

.checkbox-btn {
  @include input-checkbox(transparent, #fff, $main, $main);
}

.radio-btn {
  @include input-radio(#fff, transparent, #fff, #fff, $main, $main);
}

.radio-btn-circle {
  @include input-radio-circle();
}

input:not([type='radio'], [type='submit'], [type='checkbox'], [type='date'], [type='reset']) {
  padding: 0 0 12px;
  border: none;
  border-bottom: 1px solid $stroke-dark;
  font-size: 15px;
  color: #fff;
  background: transparent;

  &::placeholder {
    color: #fff;
  }
}