@import '../common/vars';

#popup-login, #popup-login-forgot {
  background: transparent;
  //opacity: 1;
  //z-index: 100 !important;
  //pointer-events: unset;

  .popup- {
    &content {
      position: relative;
      margin: 98px 16% 10% auto;
      max-width: 436px;
      padding: 50px;
      background: $grafit-1;
    }
  }

}

.popup {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: -1;
  pointer-events: none;
  transition: all .4s ease;
  overflow-y: auto;
  opacity: 0;

  &.show {
    opacity: 1;
    pointer-events: unset;
    z-index: 100;
  }
}

.popup- {

  &content {
    position: relative;
    margin: 10% auto 10%;
    max-width: 436px;
    padding: 50px;
    background: $grafit-1;
    border: 1px solid #414348;
  }

  &title {
    margin-bottom: 20px;
  }

  &text {
    color: $light-grey-2;
    margin-bottom: 40px;
  }

  &form {
    label {
      width: 100%;
      display: flex;

      &:not(:last-of-type) {
        margin-bottom: 20px;
      }

      &:last-of-type {
        margin-top: 30px;
      }

      input {
        border: none;
        border-bottom: 1px solid $stroke-dark;
        background: transparent;
        color: #fff;
        padding: 12px 0;
        height: auto;

        &::placeholder {
          color: #fff;
        }
      }
      input[type='checkbox'] {
        display: none;
      }
    }

    input {
      width: 100%;
    }

    input[type='submit'] {
      padding: 16px 0;
      margin-top: 40px;
    }
  }

  &footer {
    margin-top: 30px;
    > a {
      display: block;
      text-align: center;
    }
    span {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      margin: 15px 0;

      &:after, &:before {
        content: '';
        position: absolute;
        background: $grafit-2;
        top: 50%;
        width: calc(61% - 21px);
        height: 1px;
        transform: translateY(-50%);
      }

      &:after {
        right: -50px;
      }

      &:before {
        left: -50px;
      }
    }
    p {
      display: flex;
      justify-content: center;
    }
    a {
      color: $main-hover;
      text-decoration: none;
    }
  }

  &close {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  &message {
    max-width: 200px;
    font-size: 18px;
    line-height: 1.4;
    font-weight: 700;
    margin: 0 auto 32px;
    text-align: center;
  }

  &icon {
    display: block;
    margin: auto;
  }
}

#success-popup {
  .popup- {
    &content {
      margin: 0 auto;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}


@media screen and(max-width: 575px) {
  .popup {
    padding: 0 20px;
  }

  .popup- {
    &content {
      padding: 50px 20px;
    }
    &form {
      input[type='submit'] {
        white-space: normal;
      }
    }
  }
}