@import "../common/vars";
@import "../common/mixins";

.header {
  width: 100%;
  height: 78px;
  background: rgba(0, 0, 0, 0.25);
  position: fixed;
  z-index: 100;
  border-bottom: 1px solid $stroke-dark;
  transition: all .4s ease;

  .container {
    height: 100%;
    display: flex;
    align-items: center;
  }
}

.header- {
  &fixed {
    background: rgba(0, 0, 0, 0.8);
  }

  &burger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 50px;
    margin-top: -10px;
    height: 100%;

    &:hover {
      cursor: pointer;
    }

    span {
      height: 1px;
      background: #fff;

      &:nth-child(1) {
        width: 30px;
      }

      &:nth-child(2) {
        width: 23px;
        margin: 5px 0;
      }

      &:nth-child(3) {
        width: 18px;
      }
    }
  }

  &logo {
    width: 95px;
    height: auto;
    display: flex;
    align-items: center;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &nav {
    .nav- {
      &category {
        .title {
          padding: 0 35px;
        }
        .content {
          div {
            display: flex;
            flex-direction: column;
            margin-right: 100px;

            > span {
              display: block;
              margin-bottom: 20px;
              font-size: 26px;
              font-weight: 300;
              text-transform: uppercase;
            }

            label {
              display: block;
              width: 100%;

              &:not(:last-of-type) {
                margin-bottom: 10px;
              }

              input {
                display: none;
              }
            }
          }
        }
      }
    }
  }

  &tel {
    margin-left: auto;

    a {
      text-decoration: none;
      color: #fff;
      font-size: 13px;
    }
  }

  &search {
    margin: 0 30px;
  }

  &language {
    height: 100%;
    margin: 0 30px;

    .language-dropdown {
      &-content {
        left: -85px;
      }
    }
  }

  &currency {
    height: 100%;

    .currency-dropdown {
      &-content {
        left: -85px;
      }
    }
  }

  &login {
    margin-right: 30px;
  }

  &cart {
    position: relative;

    .product-quantity {
      position: absolute;
      top: 41%;
      left: -8%;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 19px;
      height: 19px;
      border-radius: 50%;
      color: $main;
      background: #fff;
      font-size: 12px;
      line-height: 1;
      font-weight: 700;
    }
  }

  &burger-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(53, 56, 62, 0.8);
    z-index: 200;
    transition: all .4s ease;
    transform: translateY(-110%);
    backdrop-filter: blur(15px);
    overflow-y: auto;


    .container {
      align-items: flex-start;
      flex-wrap: wrap;
      height: auto;
    }
  }

  &burger-menu.open {
    transform: translateY(0);
  }
}

.burger-menu- {
  overflow-y: auto;

  &close {
    position: absolute;
    top: 2.73%;
    left: 2.73%;
  }

  &search {
    width: 100%;
    position: relative;
    margin: 100px 0 83px;

    input {
      width: 100%;
      padding: 0 40px 25px 0 !important;
      font-size: 35px !important;

      &::placeholder {
        font-weight: 300;
      }
    }

    .icon {
      position: absolute;
      right: 0;
      top: 0;
      width: 34px;
      height: 34px;
    }
  }

  &btn-mob {
    display: none;
  }

  &nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 50px;

    .nav-left {
      ul {
        list-style: none;

        li {
          &:not(:last-of-type) {
            margin-bottom: 30px;
          }

          a {
            font-size: 25px;
            font-weight: 300;
            text-decoration: none;
            color: #fff;
          }
        }
      }
    }

    .nav-right {
      a {
        display: block;
        color: #fff;
        text-decoration: none;
      }

      a, p {
        margin-bottom: 30px;
      }

      div {
        display: flex;

        a {
          &:not(:last-of-type) {
            margin-right: 20px;
          }
        }
      }
    }
  }

  &language {
    ul {
      list-style: none;
      display: flex;
      flex-direction: column;

      li {
        &:not(:last-of-type) {
          margin-bottom: 15px;
        }

        a {
          color: #fff;
          text-decoration: underline;

          img {
            margin-right: 12px;
          }
        }
      }
    }
  }
}

@media screen and(max-width: 1239px) {
  .header- {
    &burger {

    }

    &logo {

    }

    &nav {
      .nav-category {
        .title {
          padding: 0 15px;
        }
      }
    }

    &tel {

    }

    &search {
      margin: 0 0 0 12px;
    }

    &currency {
      margin: 0 12px;
    }

    &language {
      margin: 0;
    }

    &login {
      margin: 0 12px;
    }

    &cart {

    }
  }
}

@media screen and(min-width: 992px) {
  .header- {
    &nav {
      display: flex;
      margin-left: 15px;
      height: 100%;

      .nav- {
        &head {
          display: none;
        }

        &category {
          height: 100%;

          .title {
            height: 100%;
            display: flex;
            align-items: center;
          }

          .content {
            background: rgba(53, 56, 62, 0.8);
            z-index: 0;
            padding: 44px 13.28% 46px;
            backdrop-filter: blur(15px);
            position: fixed;
            top: 78px;
            left: 0;
            height: 270px;
            width: 100vw;
            display: flex;
            flex-direction: row-reverse;
            justify-content: flex-end;

            > div {
              width: 180px;
              label {
                span {
                  height: 34px;
                }
              }
            }

            ul {
              display: grid;
              grid-template-rows: repeat(4, 1fr);
              grid-template-columns: repeat(3, 1fr);
              grid-gap: 0 100px;
              grid-auto-flow: column;

              li {
                display: flex;
                align-items: center;

                &:before {
                  content: '';
                  width: 25px;
                  margin-right: 22px;
                  height: 1px;
                  background: $light-grey-2;
                  transition: all .4s ease;
                }

                &:hover {
                  &:before {
                    background: $main-hover;
                  }
                }

                a {
                  color: #fff;
                  text-decoration: none;
                }
              }
            }
          }
        }

        &close {
          display: none;
        }
      }
    }
  }
}

@media screen and(max-width: 991px) {
  .header- {
    &burger {
      margin-right: 30px;
    }

    &logo {
      width: 60px;
      margin-right: auto;
    }

    &nav.open {
      transform: translateY(0);
      z-index: 200;
    }

    &nav {
      transition: all .4s ease;
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background: rgba(53, 56, 62, 0.8);
      z-index: 0;
      padding: 50px 20px;
      transform: translateY(-110%);
      backdrop-filter: blur(15px);
      overflow-y: auto;

      .nav- {

        &head {
          width: 100%;
          padding: 0 20px;
          background: #1F2125;
          display: flex;
          align-items: center;
          height: 55px;
          margin-top: 78px;

          span {
            display: block;
            margin: auto;
          }
        }

        &category {
          margin-bottom: 2px;


          .title {
            height: 44px;
            padding: 0 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            background: $stroke-dark;
            position: relative;
            font-size: 15px;

            &:after {
              content: '\002B';
              position: absolute;
              right: 20px;
            }
          }

          .title.active {
            &:after {
              content: '\2013';
            }
          }

          .title.active + .content {
            margin: 20px 0;

          }

          .content {
            ul {
              display: flex;
              flex-direction: column;
              margin: 0;

              li {
                display: flex;
                align-items: center;
                margin-left: 0;

                &:not(:last-of-type) {
                  margin-bottom: 15px;
                }

                &:before {
                  content: '';
                  width: 25px;
                  margin-right: 22px;
                  height: 1px;
                  display: flex;
                  align-items: center;
                  background: $light-grey-2;
                }

                a {
                  text-decoration: none;
                  color: #fff;
                }
              }
            }


            div {
              margin-right: 0;

              > span {
                display: none;
              }

              label {
                &:first-of-type {
                  margin-top: 20px;
                }

                //w100p
              }
            }

          }
        }

        &close {
          position: absolute;
          top: 28px;
          left: 24px;
        }
      }
    }

    &tel {
      display: none;
    }

    &search {
      display: none;
    }

    &currency {
      margin: 0;
    }

    &language {
      display: none;
    }

    &login {
      margin: 15px;
    }

    &burger-menu {
      .burger-menu- {
        &btn-mob {
          display: flex;
          width: 100%;
          height: 55px;
          margin-bottom: 40px;

          a {
            width: 100%;

            span {
              margin: auto;
            }
          }
        }
      }
    }
  }
}

@media screen and(max-width: 575px) {
  .header- {
    &burger {
      margin-right: 30px;
    }

    &logo {
      width: 60px;
      margin-right: auto;
    }

    &tel {
      display: none;
    }

    &search {
      margin-right: 20px;
    }

    &language {
      display: none;
    }

    &login {
      margin-right: 20px;
    }

    &burger-menu {
      .burger-menu- {
        &search {
          margin-bottom: 40px;

          input {
            font-size: 25px !important;

            &::placeholder {
              font-size: 25px !important;
            }
          }

          .icon {
            width: 29px;
            height: 29px;
          }
        }

        &nav {
          flex-wrap: wrap;
          justify-content: flex-start;

          .nav-left {
            width: 100%;
            margin-bottom: 50px;
          }

          .nav-right {
            width: 100%;
          }
        }
      }
    }
  }
}