@import "layout";

img.lazyload, video.lazyload {
  opacity: 0;
  visibility: hidden;
  animation-fill-mode: forwards;
}

.is-loaded {
  opacity: 0;
  visibility: visible;
  //transition: opacity 0.3s ease, visibility 0.3s ease;
  animation: faddingImgAnim 0.5s ease;
}


@keyframes faddingImgAnim {
  0% {
    visibility: hidden;
    opacity: 0;
    filter: blur(10px);
  }
  100% {
    visibility: visible;
    opacity: 1;
    filter: blur(0px);
  }
}
.js-anim {
  &.anim-top {
    transform: translate(0, 80%);
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.6s cubic-bezier(.54, 1.37, 1, .98);
  }

  &.anim-right {
    transform: translate(-80%, 0);
    opacity: 0;
    transition: opacity 0.9s ease, transform 0.8s cubic-bezier(.54, 1.37, 1, .98);
  }

  &.anim-left {
    transform: translate(80%, 0);
    opacity: 0;
    transition: opacity 0.9s ease, transform 0.8s cubic-bezier(.54, 1.37, 1, .98);
  }

  &.anim-yRot {
    transform: rotateX(180deg);
    opacity: 0;
    transition: opacity 0.9s ease, transform 0.8s cubic-bezier(.54, 1.37, 1, .98);
  }

  &.anim-xRot {
    transform: rotateY(180deg);
    opacity: 0;
    transition: opacity 0.9s ease, transform 0.8s cubic-bezier(.54, 1.37, 1, .98);
  }

  &.anim-blur {
    filter: blur(4px);
    opacity: 0;
    transition: opacity 0.9s ease, transform 0.8s cubic-bezier(.54, 1.37, 1, .98), filter 0.5s ease;
  }

  &.anim-fadeT {
    opacity: 0;
    transform: translate(0, 40px);
    transition: opacity 0.6s cubic-bezier(.54, 1.37, 1, .98), transform 0.8s ease;
  }
  &.anim-fadeR {
    opacity: 0;
    transform: translate(-80%, 0);
    transition: opacity 0.6s cubic-bezier(.54, 1.37, 1, .98), transform 0.8s ease;
  }

  &.anim-fadeB {
    opacity: 0;
    transform: translate(0, -60px);
    transition: opacity 0.6s cubic-bezier(.54, 1.37, 1, .98), transform 0.8s ease;
  }

  &.anim-start {
    transform: translate(0) rotate(0) !important;
    filter: none !important;
    opacity: 1 !important;

  }
}


// fonts
@import "fonts";

//header
@import "header/header";

// footer
@import "footer/footer";

//assist
@import "assist/buttons";
@import "assist/breadcrumb";
@import "assist/inputs";
@import "assist/popup";
@import "assist/slider";
@import "assist/dropdown";
@import "assist/accordion";
@import "assist/tabs";
@import "assist/animations";

// section
@import "section/hero";
@import "section/about-us";
@import "section/gallery";
@import "section/about-company";
@import "section/feedback";
@import "section/head-page";
@import "section/products";
@import "section/product-details";
@import "section/recommendations";
@import "section/authorization";
@import "section/personal-info";
@import "section/about";
@import "section/404";
@import "section/cart";
@import "section/ordering";
@import "section/new-media";

